{% extends "base.html" %}
<html>
	{% block head %}
        <title>About Us</title>
    {% endblock %}


	{% block body %}
        <body>
		<h1> <b> About Us</b> </h1>

		<p> Purpose: Quiz Game (name still not finalized) strives to provide the best <br />
		questions to challenge player. We want everyone to spend their free time <br />
		expanding their knowledge and not aimlessly wandering social media. Do <br />
		not waster your free time! Challenge yourself! Take our quiz! </p>

		<p> Phone Number: (323) 354-2440 </p>

		<p> Address: 1250 Bellflower Blvd, Long Beach, CA 90840 </p>

		<p> Email: QuizGame@gmail.com </p>
	</body>
    {% endblock %}

</html>
