{% extends "base.html" %}
{% load static %}
<html>
	{% block head %}
        <title>About Us</title>
    {% endblock %}


	{% block body %}
        <body>

<div id= "about">
		<font face = "Comic sans MS" size ="5"> <h1 align="center" style=color:white> <b> About Us</b> </h1>


			<font face = "Comic sans MS" size ="4"> <p align="center" style=color:white> Purpose: Quiz Game (name still not finalized) strives to provide the best <br />
			questions to challenge player. We want everyone to spend their free time <br />
			expanding their knowledge and not aimlessly wandering social media. Do <br />
			not waster your free time! Challenge yourself! Take our quiz! </p>

			<font face = "Comic sans MS" size ="4"> <p align="center"style=color:white> Phone Number: (323) 354-2440 </p>

			<font face = "Comic sans MS" size ="4"> <p align="center"style=color:white> Address: 1250 Bellflower Blvd, Long Beach, CA 90840 </p>

			<font face = "Comic sans MS" size ="4"> <p align="center"style=color:white> Email: QuizGame@gmail.com </p>

			<img src= "{% static "QuizWebsite/map.png" %}" width="375" height="275" alt='map' /></p>
	  </div>
	</body>
	<style>
	#about
	{
			height: 650px;
			width: 700px;
	    margin: 0 auto;
	    border-radius: 50px;
			background-color: #0700f9;;
	    border: 2px solid #cbcbcb;
	}
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
		body{

					background-image: url('{% static "QuizWebsite/blackboard.jpg"%}');
					background-size: 100%;
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-position: center;
			}
	</style>
    {% endblock %}

</html>
