{% extends "base.html" %}
<html>
	{% block head %}
        <title>Age Selection</title>
    {% endblock %}


	{% block body %}
  <body>
		<h1> <b> Age Selection</b> </h1>

        <p>
			<form method="get" action="{% url 'quiz:ElementaryCategories' %}">
				<button type="submit" >Elementary</button>
			</form>
			
			<form method="get" action="{% url 'quiz:MiddleCategories' %}">
				<button type="submit" >Middle</button>
			</form>
			
			<form method="get" action="{% url 'quiz:HighCategories' %}">
				<button type="submit" >High</button>
			</form>
			
			<form method="get" action="{% url 'quiz:AdultCategories' %}">
				<button type="submit" >Adult</button>
			</form>
        </p>
	</body>
    {% endblock %}

</html>


<form method="get" action="{% url 'quiz:AgeSelection' %}">
				<button type="submit">Play Quiz </button>
			</form>