{% extends "base.html" %}
<html>
	{% block head %}
        <title>Elementary Categories</title>
    {% endblock %}


	{% block body %}
  <body>
		<h1> <b>Elementary Category Selection</b> </h1>



        <p>

			<form method="post" action="{% url 'quiz:QuizGame' %}">  {% csrf_token %}
			<button type="submit"  name = "choice"  value ='1' >
			 <label for="choice1">Math</label>
		  </form>

		 <form method="post" action="{% url 'quiz:QuizGame' %}">  {% csrf_token %}
		 <button type="submit"  name = "choice"  value ='3' >
		 <label for="choice1">History</label>
		 </form>

		 <form method="post" action="{% url 'quiz:QuizGame' %}">  {% csrf_token %}
 		<button type="submit"  name = "choice"  value ='2' >
 		<label for="choice1">Science</label>
 		</form>

		<form method="post" action="{% url 'quiz:QuizGame' %}">  {% csrf_token %}
		<button type="submit"  name = "choice"  value ='4' >
		<label for="choice1">English</label>
		</form>
        </p>
	</body>
    {% endblock %}

</html>
