{% extends "base.html" %}
<html>
	{% block head %}
        <title>How to Play</title>
    {% endblock %}


	{% block body %}
  <body>
		<h1> <b> How to Play</b> </h1>

        <p> Step 1: Click "Play Quiz" Button <br />
            Step 2: Select your Age Group <br />
            Step 3: Select Subject Category <br />
            Step 4: Answer Questions <br />
            Step 5: See Results <br />
            Step 6: Click "Play Again" or "See Scoreboard" <br />

			<form method="get" action="{% url 'quiz:AgeSelection' %}">
				<button type="submit">Play Quiz </button>
			</form>
		</p>
	</body>
    {% endblock %}
</html>

