{% extends "base.html" %}
{% load static %}
<html>
	{% block head %}
        <title>Home</title>
    {% endblock %}


	{% block body %}
  <body>

		<div class="wrapper">
			<form method="get" action="{% url 'quiz:AgeSelection' %}">
				<button type="submit" >Play Quiz</button>
			</form>
		</div>
	</body>

	<style>
			body{
					background-image: url('{% static "QuizWebsite/blackboard.jpg"%}');
					background-size: 100%;
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-position: center;

			}

			.wrapper {
    text-align: center;
			}

			button {
				height:100px;
	     	width:500px;
    		position: absolute;
    		top: 50%;
				left: 35%;
			}
	</style>
    {% endblock %}
</html>
