{% extends "base.html" %}
{% load static %}
<html>
	{% block head %}
        <title>Home</title>
    {% endblock %}


	{% block body %}
  <body>


            <form method="get" action="{% url 'quiz:AgeSelection' %}">
				<button type="submit">Play Quiz </button>
			</form>
	</body>

	<style>
			body{
					background-image: url('{% static "QuizWebsite/blackboard.jpg"%}');
					background-size: 100%;
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-position: center;

			}
	</style>
    {% endblock %}
</html>
