{% extends "base.html" %}
<html>
	{% block head %}
        <title>Middle School Categories</title>
    {% endblock %}


	{% block body %}
  <body>
		<h1> <b>Middle School Category Selection</b> </h1>

        <p>
			<form method="get" action="{% url 'quiz:QuizGame' %}">
				<button type="submit" >Math</button>
			</form>
			
			<form method="get" action="{% url 'quiz:QuizGame' %}">
				<button type="submit" >History</button>
			</form>
			
			<form method="get" action="{% url 'quiz:QuizGame' %}">
				<button type="submit" >Science</button>
			</form>
			
			<form method="get" action="{% url 'quiz:QuizGame' %}">
				<button type="submit" >English</button>
			</form>
        </p>
	</body>
    {% endblock %}

</html>
