{% extends "base.html" %}


<html>
	{% block head %}
        <title>Question</title>
    {% endblock %}


	{% block body %}
  <body>
		<h1> <b>Question</b> </h1>
        <p>
                <!--Show Problem-->
                <button id = "problem">

                </button>

                <!--Show choice 1-->
		        <button onclick ="choice1()"
                        id = "choice1">
                </button>

                <!--Show choice 2-->
                <button onclick ="choice2()"
                        id = "choice2">
                </button>

                <!--Show choice 3-->
                <button onclick ="choice3()"
                        id = "choice3">
                </button>

                <!--Show answer-->
                <button onclick ="answer()"
                        id = "answer">
                </button>

                <!--Next button hidden until an choice is chosen, updates html for next question-->
                <button style="display:none"
                        onclick ="next()"
                        id = "next">
                    Next
                </button>

                <!--Done button hidden until last question choice is chosen, jumps to Results page-->
                <form
                      method="get"
                      action="{% url 'quiz:Result' %}"
                      >
				    <button type="submit"
                            id = "done"
                            style="display:none">
                        Done
                    </button>
			    </form>
					<footer>
					 <p id="progress"></p>
			 		</footer>
        </p>
        <script>
            // change queryset to JSON
            var x = JSON.parse("{{ question_json| safe | escapejs}}");

						//Current Question
						max = 10;

            // counter for which question
            var count = 0;

            // set first question
            document.getElementById("problem").innerHTML = x[count].fields.problem;
            document.getElementById("choice1").innerHTML = x[count].fields.choice1;
            document.getElementById("choice2").innerHTML = x[count].fields.choice2;
            document.getElementById("choice3").innerHTML = x[count].fields.choice3;
            document.getElementById("answer").innerHTML = x[count].fields.answer;

						var element = document.getElementById("progress");
						var current = count + 1;
						element.innerHTML = current + " / " + max;

            // reveal wrong and reveal next button, if last question done button appears
            function choice1() {
                document.getElementById("choice1").innerHTML = "No";
                if(count >= 9)
                     document.getElementById("done").style.display = "block";
                else
                    revealNext();
            }

            // reveal wrong and reveal next button, if last question done button appears
            function choice2() {
                document.getElementById("choice2").innerHTML = "No";
                if(count >= 9)
                     document.getElementById("done").style.display = "block";
                else
                    revealNext();
            }

            // reveal wrong and reveal next button, if last question done button appears
            function choice3() {
                document.getElementById("choice3").innerHTML = "No";
                if(count >= 9)
                     document.getElementById("done").style.display = "block";
                else
                    revealNext();
            }

            // reveal answer and reveal next button, if last question done button appears
            function answer() {
                document.getElementById("answer").innerHTML = "Yes";
                if(count >= 9)
                     document.getElementById("done").style.display = "block";
                else
                    revealNext();
            }

            // function to reveal next button, if last question done button appears
            function revealNext(){
                var x = document.getElementById("next");
                if (x.style.display === "none") {
                    x.style.display = "block";
                }
            }

            // go to next question, change html for next question, hide next button
            function next(){
                 count = count + 1;

                 document.getElementById("problem").innerHTML = x[count].fields.problem;
                 document.getElementById("choice1").innerHTML = x[count].fields.choice1;
                 document.getElementById("choice2").innerHTML = x[count].fields.choice2;
                 document.getElementById("choice3").innerHTML = x[count].fields.choice3;
                 document.getElementById("answer").innerHTML = x[count].fields.answer;
                 document.getElementById("next").style.display = "none";
								 var element = document.getElementById("progress");
								 var current = count + 1;
		 						 element.innerHTML = current + " / " + max;
            }


        </script>

	</body>
    {% endblock %}


</html>
