{% extends "base.html" %}
<html>
	{% block head %}
        <title>Question</title>
    {% endblock %}


	{% block body %}
  <body>
		<h1> <b>Question</b> </h1>

        <p>
					{% if latest_question_list %}
		    <ul>
		    {% for Question in latest_question_list %}
		        <li>{{ Question.problem }}</li>
						{% csrf_token %}
						<input type="radio" name="choice" id="choice1" value="{{ Question.choice1 }}">
						<label for="choice1">{{ Question.choice1 }}</label><br>
						<input type="radio" name="choice" id="choice2" value="{{ Question.choice2 }}">
						<label for="choice2">{{ Question.choice2 }}</label><br>
						<input type="radio" name="choice" id="choice3" value="{{ Question.choice3 }}">
						<label for="choice3">{{ Question.choice3 }}</label><br>
						<input type="radio" name="choice" id="choice4" value="{{ Question.answer }}">
						<label for="choice4">{{ Question.answer }}</label><br>

		    {% endfor %}
		    </ul>
				{% else %}
				    <p>No polls are available.</p>
				{% endif %}
				<input type="submit" value="guess">
          <!--  <form method="get" action="{% url 'quiz:QuizGame' %}">
				<button type="submit" >Next Question</button>
			</form>

			<form method="get" action="{% url 'quiz:Result' %}">
				<button type="submit" >Result</button>
			</form>-->
        </p>
	</body>
    {% endblock %}

</html>
